# ----------------------------
# Project build folders
# ----------------------------
/target/
/build/

# Keep specific build folders in src (if needed)
/src/main/**/target/
/src/test/**/target/
/src/main/**/build/
/src/test/**/build/

# ----------------------------
# Maven Wrapper
# ----------------------------
.mvn/wrapper/maven-wrapper.jar

# ----------------------------
# Environment files / uploads
# ----------------------------
.env
/uploads

# ----------------------------
# IDE-specific files
# ----------------------------

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# ----------------------------
# Miscellaneous
# ----------------------------
HELP.md

